body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ul,
p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

.clearfx::after {
  content: "";
  display: table;
  clear: both;
}

/* Container */
.container {
  width: 1110px;
  margin: 0px auto;
}

/* Logo */
h1 {
  color: #555252;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
}

.nav_ul {
  padding: 6px 0px;

  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-li {
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-li:hover {
  color: #1abc9c;
}

.nav {
  padding-top: 38px;
}

h1::first-letter {
  font-size: 30px;
  color: #1abc9c;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.logo {
  float: left;
}

/* Navigation */
.nav-li {
  float: left;
  margin-right: 22px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  color: #0f0101;
  font-family: "Open Sans";
}

.div-nav {
  margin: 0px;
  float: right;
}

/* Featured product */
h2 {
  margin-top: 110px;
  margin-bottom: 130px;
  color: #515151;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -0.96px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
}

.f-prod {
  padding: 0px;
}

.wrap-image {
  background-color: #e9f0fd;
  width: 255px;
  height: 280px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.h2-title {
  text-align: center;
  margin-bottom: 120px;
}

.h2-title::after {
  content: "";
  display: block;
  border-bottom: 164px solid #1abc9c;
  border-width: 7px;
  width: 200px;
  margin: auto;
  padding-top: 32px;
}

/* Featured products ul */
li {
  list-style-type: none;
}

h3 {
  margin: 0px;
}

.product-line {
  background-color: #323232;
  color: #fff;
  height: 40px;
}

.prod {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.prod:nth-child(4n) {
  margin-right: 0px;
}

.product {
  float: left;
  padding: 12px 0px 12px 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

.prod:hover .product-line {
  background-color: #1abc9c;
}

.product-price {
  float: right;
  margin: 0px;
  color: #ffffff;
  background-color: rgba(250, 250, 250, 0.5);
  padding: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  text-transform: uppercase;
  letter-spacing: -0.36px;
}

.li_news {
  float: left;
  width: 350px;
  margin-right: 30px;
  padding: 0px;
}

.li_news:nth-child(3) {
  margin-right: 0px;
}

.l-news {
  padding: 0px;
}

.button {
  cursor: pointer;
  padding-bottom: 82px;
}

.p_news {
  margin-bottom: 16px;
}

.button-read {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 18px 44px 20px 42px;
  background-color: #4ec6ab;

  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.32px;

  border-radius: 5px;
}

.news_title:after {
  content: "";
  display: block;
  border-bottom: 136px solid #1abc9c;
  border-width: 4px;
  width: 200px;
  margin: auto;
  float: left;
  padding-top: 10px;
}

.news_title {
  margin-bottom: 42px;
}
.news_title {
  color: #555252;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.p_news {
  color: #555252;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.button-read:hover {
  background-color: #fff;
  color: #1abc9c;
  border: 1px solid #323232;
}

/* вопросы */

/* запомнить inline-block и block */
/* важно указывать тексту font-weight */
